################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Leet Code Solutions/.vs/Leet Code Solutions/v16
/Leet Code Solutions/FirstBadVersion/obj
/Leet Code Solutions/FirstBadVersion/bin/Debug/netcoreapp3.0
/Leet Code Solutions/.vs/Leet Code Solutions/DesignTimeBuild/.dtbcache
/Leet Code Solutions/.vs/Leet Code Solutions/v15/Server/sqlite3
/Leet Code Solutions/.vs/Leet Code Solutions/v15/.suo
